*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/*CABEÇALHO-------------------------------------------------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;background-color: #fff;
    height: 150px;
    display: flex;
    justify-content: center;
    align-content: center;

}

#menu{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0px;
}

nav ul li a{
    text-decoration: none;
    padding: 10px 30px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    display: inline-block;
    color: #3B3748;
}
nav ul li a:hover{
    color: white;
    background-color: #3B3748;
}

/*FLEXBOX DO HEADER*/
#navigation, #title{
    display: flex;
    align-items: center;
}


.menu-sandwich{
    display: none;
}

/*CORPO PRINCIPAL DA PÁGINA------------------------------------------*/
main{
    margin-top: 150px;
    width: 100%;
}
#background-home{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 900px;
    color: aliceblue;
    font-family: "Inter", sans-serif;
    width: 100%;
    background-image: url(../images/background-home.png);
    background-size: cover;
}
#banner{
    margin: 100px;
    width: 831px;
    height: 533px;
}
h1{
    font-size: 64px;
}
p{
    font-size: 36px;
    font-weight: 200;
}
input{
    padding: 0px;
    font-size: 28px;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color: aliceblue;
    width: 250px;
    height: 66px;border: 1px solid #fff;
    box-shadow: none;
    background: none;
}
input:hover{
    color: black;
    background-color: aliceblue;
}


/*SECTION - SERVICOS*/

/*MEDIA QUERIES DAS TELAS---------------------------------------------*/

@media (max-width:945px){
    main{
        margin-top: 100px;
    }
    
    #navigation{
        display: none;
    }
    header{
        height: 100px;
    }
    

    /*MENU SANDUÍCHE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
    .menu-sandwich{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 100%;
    }
    .line{
        width: 100%;
        height: 5px;
        margin: 3px 0px;
        background-color: #3B3748;
    }
    img{
        width: 140px;
    }


    /*CORPO PRINCIPAL DA PÁGINA>>>>>>>>>>>>>>>>>*/
    main{
    height: 800px;
    }
    h1{
        font-size: 45px;
    }
    p{
        font-size: 30px;
        line-height: 50px;
        font-weight: 200;
    }
    #banner{
        margin: 40px;
        width: 80%;
        height: 733px;
    }
}

@media (min-width: 735px) and (max-width: 1002px){
    header{
        height: 100px;
    }
    main{
        margin-top: 100px;
    }
    menu{
        display: inline-flex;
    }
    nav ul li a{
        display: flex;
        font-size: 12px;
    }
    nav{
        display: block;
    }
    img{
        width: 140px;
        height: auto;
    }
}

@media (min-width: 1003px) and (max-width: 1400px){
    header{
        height: 120px;
    }
    main{
        margin-top: 120px;
    }
    menu{
        display: inline-block;
    }
    nav ul li a{
        font-size: 13px;
    }
    nav{
        display: block;
    }
    img{
        width: 160px;
        height: auto;
    }
}

